body {
  color: #272727;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

.w {
  max-width: 820px;
}

h1 {
  margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6, hr {
  font-family: 'Inconsolata', monospace;
  line-height: 2.5rem;
}

blockquote {
  border: none;
  padding: 0;

  p {
    quotes: "\201C""\201D""\2018""\2019";
    &:before { content: open-quote; }
    &:after { content: close-quote; }
  }
}
